<section class="content">
    <div class="container">

        <modal title="Login form" visible="showModal">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni Emlak Firması Ekle</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form ng-submit="addCompany(newCompany);" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Firma Adı</label>
                            <input type="text" class="form-control" ng-model="newCompany.Name" placeholder="Firma Adı">
                        </div>
                        <div class="form-group">
                            <label>Telefon</label>
                            <input type="text" class="form-control" ng-model="newCompany.Phone" placeholder="Telefon">
                        </div>
                        <div class="form-group">
                            <label>Adres</label>
                            <input type="text" class="form-control" ng-model="newCompany.Address" placeholder="Adres">
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <button  class="btn btn-primary">Kapat</button>
                    </div>
                </form>
            </div>
        </modal>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Sisteme Kayıtlı Emlak Firmaları</h3>
                    <div style="float: right;">
                        <button ng-click="toggleModal()" class="btn btn-default">Firma Ekle</button>

                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                        <div class="row">
                        <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                            <th>Adı</th>
                            <th>Telefon</th>
                            <th>Adres</th>
                        </thead>
                        <tbody>
                        <tr role="row" class="odd" ng-repeat="company in companies">
                            <td>{{company.Name}}</td>
                            <td>{{company.Phone}}</td>
                            <td>{{company.Address}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>