<div class="col-md-6">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Şifre Ayarları</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Eski Şifre</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control"  placeholder="Eski Şifre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Yeni Şifre</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" i placeholder="Yeni Şifre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Yeni Şifre Tekrar</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"  placeholder="Yeni Şifre Tekrar">
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">İptal</button>
                <button type="submit" class="btn btn-info pull-right">Şifre Değiştir</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->

</div>