
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
                <h1 class="widget-user-username">Hamdi Ceylan</h1>
                <h5 class="widget-user-desc">Emlak Danışmanı</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">Firmadaki toplam ilan sayısı<span class="pull-right badge bg-blue">{{stats[0].CompanyTotalProperty}}</span></a></li>
                    <li><a href="#">İlanlarım<span class="pull-right badge bg-aqua">{{stats[0].UserPropertyCount}}</span></a></li>
                    <li><a href="#"> Satışlarım <span class="pull-right badge bg-green">{{stats[0].UserSalesCount}}</span></a></li>
                </ul>
            </div>
        </div><!-- /.widget-user -->
    </div><!-- /.col -->

    <div class="col-md-4">
    </div>
</div>
<section class="col-lg-12 connectedSortable ui-sortable">

    <!-- TO DO List -->
    <div class="box box-primary">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">Tüm ilanlarım</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <ul class="todo-list ui-sortable">
                <li ng-repeat="stat in stats">
                    <!-- drag handle -->
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    <!-- checkbox -->
                    <!-- todo text -->
                    <span class="text">{{stat.MoreDetails}} açıklamalı ilan eklendi</span>
                    <!-- General tools such as edit or delete-->
                    ({{stat.CreateDate | date:"MM/dd/yyyy"}})
                    <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>
            </ul>
        </div><!-- /.box-body -->

    </div><!-- /.box -->


</section>